[program:oro_web_socket]
command=bash -c "if [ ! -e /var/www/shop/maintenance.flag ]; then php ./bin/console gos:websocket:server --env=prod; fi;"
numprocs=1
autostart=true
autorestart=true
directory=/usr/app
user=www-data
redirect_stderr=true

[program:oro_message_consumer]
command=bash -c "if [ ! -e /var/www/shop/maintenance.flag ]; then php ./bin/console oro:message-queue:consume --env=prod; fi;"
process_name=%(program_name)s_%(process_num)02d
numprocs=5
autostart=true
autorestart=true
directory=/usr/app
user=www-data
redirect_stderr=true
